.app-header {
  height: 60px;
  line-height: 60px;
  border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
  font-size: 22px;
  padding-left: 5px;
}
.example {
  border: 5px solid crimson;
}

.app-header .app-header--title {
  font-size: 22px;
  padding-left: 5px;
}

#navbar {
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
}
