body {
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 25px;
  color: rgb(6, 1, 20);
  text-align: center;
}
#contenido {
  padding: 20px;
  background-color: rgb(37, 39, 39);
  color: aliceblue;
  text-align: justify;
}
